@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("/node_modules/mockman-js/dist/style.css");
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
 margin-top: 4rem;
 width: 100vw;
 height: 100vh;
 background-color: #FAFAFA;
}
.responsive{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
